# Created by .ignore support plugin (hsz.mobi)
/server/gshark
.idea
*.exe
*.exe*
*.sh
repos

app.ini_bak
test/
vendor

.DS_Store
main
test

conf/app.ini
conf/app-pa.ini
nohup.out
config.yaml
latest_log
/web/node_modules
/web/dist
go.sum
/server/log/
/server/main
/server/latest_log

*.iml
