body {
    background-color: #eeeeee;
}

a:link {
    text-decoration: none;
    color: #0366d6
}

a:active {
    text-decoration:blink
}

a:hover {
    text-decoration:underline;
    color: red
}

a:visited {
    text-decoration: none;
    color: green
}

.report {
    background-color: #ffffff;
    margin: 0 .8rem;
}

label {
    width: 8rem;
    display: inline-block;
}
label::after {
    content: 'ï¼š';
}
header {
    font-size: 2.6rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

section {
    display: flex;
    flex-wrap: wrap;
}

article {
    margin: 1rem;
    padding: 1rem;
}

title {
    display: inline-block;
    font-size: 2rem;
    color: #159957;
    border-bottom: 2px solid #159957;
}

.info {
    width: 45%;
    color: #4a4a4a;
    margin: .5rem 0;
    font-size: 1.1rem;
}

.w3-code{
    display: block;
    width:auto;
    background-color:#fff;
    padding:8px 12px;
    border-left:4px solid #4CAF50;
    word-wrap:break-word
}