.file {
    position: relative;
    display: inline-block;
    background: #3c8dbc;
    border: 1px solid #367fa9;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    color: #ffffff;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
}
.file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}
.file:hover {
    background: #AADFFD;
    border-color: #78C3F3;
    color: #004974;
    text-decoration: none;
}
.content-header>.breadcrumb>li>#btn-white {
    color: #ffffff;!important;
}
