<!DOCTYPE html>
<html>
{{template "head"}}
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
{{template "header"}}
{{template "menu"}}
    <div class="content-wrapper">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">APP 资产</h3>
            </div>
            <form class="form-horizontal" action="/admin/app/edit/" method="post">
                <input type="hidden" name="_csrf" value="{{.csrf_token}}">
                <input type="hidden" id="id" name="id" value="{{.appAsset.Id}}">
                <div class="box-body">
                    <div class="form-group">
                        <label for="name" class="control-label col-sm-2">APP 名称：</label>
                        <div class="col-sm-10">
                            <input type="text" name="name" id="name" class="form-control" value={{.appAsset.Name}} required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description" class="control-label col-sm-2">描述：</label>
                        <div class="col-sm-10">
                            <input type="text" name="description" id="description" class="form-control" value={{.appAsset.Description}}>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="market" class="control-label col-sm-2">应用市场：</label>
                        <div class="col-sm-10">
                            <input type="text" name="market" id="market" class="form-control" value={{.appAsset.Market}}>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="developer" class="control-label col-sm-2">开发者：</label>
                        <div class="col-sm-10">
                            <input type="text" name="developer" id="developer" class="form-control" value={{.appAsset.Developer}}>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="version" class="control-label col-sm-2">版本号：</label>
                        <div class="col-sm-10">
                            <input type="text" name="version" id="version" class="form-control" value={{.appAsset.Version}}>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="deployDate" class="control-label col-sm-2">发布日期：</label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" class="form-control pull-right" id="deployDate" value={{.appAsser.DeployDate}}>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="url" class="control-label col-sm-2">URL：</label>
                        <div class="col-sm-10">
                            <input type="text" name="url" id="url" class="form-control" value={{.appAsset.Url}}>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="hash" class="control-label col-sm-2">MA5 哈希值：</label>
                        <div class="col-sm-8">
                            <input type="text" name="hash" id="hash" class="form-control" value={{.appAsset.Hash}} required>
                        </div>
                        <div class="col-sm-2">
                            <a href="javascript:;" class="file btn btn-primary" id="btn-white">
                                检测 APP 文件
                                <input type="file" name="file" id="file" class="gen-hash">
                            </a>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="status" class="control-label col-sm-2">状态：</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="status">
                                <option value="0" {{if eq 0 .appAsset.Status}}selected{{end}}>未处理</option>
                                <option value="1" {{if eq 1 .appAsset.Status}}selected{{end}}>已确认</option>
                                <option value="2" {{if eq 2 .appAsset.Status}}selected{{end}}>已确认仿冒</option>
                            </select>
                        {{/*<input type="text" name="status" id="status" class="form-control">*/}}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10"></div>
                        <div class="col-sm-1">
                            <input type="submit" value="提交" class="btn btn-primary">
                        </div>
                        <div class="col-sm-1">
                            <a href="/admin/app/" class="btn btn-primary">取消</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="/lib/jQuery/jquery-2.2.3.min.js"></script>
<script src="/lib/bootstrap/js/bootstrap.min.js"></script>
<script src="/lib/datatables/jquery.dataTables.min.js"></script>
<script src="/lib/datatables/dataTables.bootstrap.min.js"></script>
<script src="/lib/adminLET2/js/app.min.js"></script>
<script src="/js/sparkmd5.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>
<script src="/js/common.js"></script>
</body>
</html>
