<!DOCTYPE html>
<html>
{{template "head"}}
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

{{template "header"}}
{{template "menu"}}

    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                资产管理
            </h1>
            <ol class="breadcrumb">
                <li class="btn btn-success"><a href="/admin/index/">主页</a></li>
                <li class="btn btn-success">资产管理</li>
                <a href="/admin/assets/new/" class="btn btn-success c-add-btn">新增资产</a>
                <a href="/admin/assets/del_all/" class="btn btn-success c-add-btn">清空资产</a>
            </ol>
        </section>

        <section class="content">
            <div class="row c-manager">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-body">
                            <div class="page-arear">
                                <ul class="pagination">
                                    <li><a href="/admin/assets/list/1">第一页</a></li>
                                    <li><a href="/admin/assets/list/{{.pre}}">上一页</a></li>
                                {{ range $i, $v := .pageList }}
                                {{ if eq $v $.page }}
                                    <li class="active"><a href="/admin/assets/list/{{$v}}">{{$v}}</a></li>
                                {{ else }}
                                    <li><a href="/admin/assets/list/{{$v}}">{{$v}}</a></li>
                                {{ end }}
                                {{ end }}
                                    <li><a href="/admin/assets/list/{{.next}}">下一页</a></li>
                                    <li><a href="/admin/assets/list/{{.pages}}">最后一页</a></li>
                                </ul>
                            </div>
                            <table id="dataList" class="table table-striped table-bordered table-hover">
                                <thead>
                                <tr align="center">
                                    <th>ID</th>
                                    <th>Type</th>
                                    <th>Content</th>
                                    <th>Description</th>
                                    <th>CreateTime</th>
                                    <th>UpdateTime</th>
                                    <th colspan="2">管理</th>
                                </tr>
                                {{range .assets}}
                                <tr>
                                    <td>{{.Id}}</td>
                                    <td>{{.Type}}</td>
                                    <td>{{.Content}}</td>
                                    <td>{{.Desc}}</td>
                                    <td>{{.CreatedTime}}</td>
                                    <td>{{.UpdatedTime}}</td>
                                    <td><a href="/admin/assets/edit/{{.Id}}">edit</a></td>
                                    <td><a href="/admin/assets/del/{{.Id}}">del</a></td>
                                </tr>
                                {{end}}
                                </thead>
                            </table>
                            <div class="page-arear">
                                <ul class="pagination">
                                    <li><a href="/admin/assets/list/1">第一页</a></li>
                                    <li><a href="/admin/assets/list/{{.pre}}">上一页</a></li>
                                {{ range $i, $v := .pageList }}
                                {{ if eq $v $.page }}
                                    <li class="active"><a href="/admin/assets/list/{{$v}}">{{$v}}</a></li>
                                {{ else }}
                                    <li><a href="/admin/assets/list/{{$v}}">{{$v}}</a></li>
                                {{ end }}
                                {{ end }}
                                    <li><a href="/admin/assets/list/{{.next}}">下一页</a></li>
                                    <li><a href="/admin/assets/list/{{.pages}}">最后一页</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<script src="/lib/jQuery/jquery-2.2.3.min.js"></script>
<script src="/lib/bootstrap/js/bootstrap.min.js"></script>
<script src="/lib/datatables/jquery.dataTables.min.js"></script>
<script src="/lib/datatables/dataTables.bootstrap.min.js"></script>
<script src="/lib/adminLET2/js/app.min.js"></script>
<script src="/js/common.js"></script>
</body>
</html>
