{{define "header"}}
<header class="main-header">
    <a href="/admin/index/" class="logo">
        <span class="logo-mini"><b>GShark</b></span>
        <span class="logo-lg"><b>GShark</b></span>
    </a>
    <nav class="navbar navbar-static-top" role="navigation">
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span style="font-size: 20px;margin-right: 10px;"><i class="fa fa-user-circle"></i></span>
                        <span class="hidden-xs">{{.user}}</span>
                    </a>
                    <div class="dropdown-menu">
                        <a href="/admin/logout/" class="btn btn-default btn-flat">退出登陆</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>
{{end}}
