<!DOCTYPE html>
<html>
{{template "head"}}
<body class="hold-transition skin-red sidebar-mini">
<div class="wrapper">

{{template "header"}}
{{template "menu"}}

    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                仓库管理
            </h1>
            <ol class="breadcrumb">
                <li ><a href="/admin/index/" class="btn btn-success c-add-btn"> 主页</a></li>
                <li class="btn btn-success c-add-btn">仓库管理</li>
                <a href="/admin/repos/del/" class="btn btn-success c-add-btn">清空所有</a>
            </ol>
        </section>

        <section class="content">
            <div class="row c-manager">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-body">
                            <div class="page-arear">
                                <ul class="pagination">
                                    <li><a href="/admin/repos/list/1">第一页</a></li>
                                    <li><a href="/admin/repos/list/{{.pre}}">上一页</a></li>
                                        {{ range $i, $v := .pageList }}
                                        {{ if eq $v $.page }}
                                            <li class="active"><a href="/admin/repos/list/{{$v}}">{{$v}}</a></li>
                                        {{ else }}
                                            <li><a href="/admin/repos/list/{{$v}}">{{$v}}</a></li>
                                        {{ end }}
                                        {{ end }}
                                    <li><a href="/admin/repos/list/{{.next}}">下一页</a></li>
                                    <li><a href="/admin/repos/list/{{.pages}}">最后一页</a></li>
                                </ul>
                            </div>
                            <table id="dataList" class="table table-striped table-bordered table-hover">
                                <thead>
                                <tr align="center">
                                    <th>ID</th>
                                    <th>Url</th>
                                    <th>Src</th>
                                    <th>状态</th>
                                    <th colspan="2">管理</th>
                                </tr>
                                {{range .repos}}
                                <tr>
                                    <td>{{.Id}}</td>
                                    <td>{{.Url}}</td>
                                    <td>{{.Src.Type}}: {{.Src.Content}}</td>
                                    <td>{{.Status}}</td>
                                    <td><a href="/admin/repos/enable/{{.Id}}">enable</a></td>
                                    <td><a href="/admin/repos/disable/{{.Id}}">disable</a></td>
                                </tr>
                                {{end}}
                                </thead>
                            </table>
                            <div class="page-arear">
                                <ul class="pagination">
                                    <li><a href="/admin/repos/list/1">第一页</a></li>
                                    <li><a href="/admin/repos/list/{{.pre}}">上一页</a></li>
                                        {{ range $i, $v := .pageList }}
                                        {{ if eq $v $.page }}
                                            <li class="active"><a href="/admin/repos/list/{{$v}}">{{$v}}</a></li>
                                        {{ else }}
                                            <li><a href="/admin/repos/list/{{$v}}">{{$v}}</a></li>
                                        {{ end }}
                                        {{ end }}
                                    <li><a href="/admin/repos/list/{{.next}}">下一页</a></li>
                                    <li><a href="/admin/repos/list/{{.pages}}">最后一页</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<script src="/lib/jQuery/jquery-2.2.3.min.js"></script>
<script src="/lib/bootstrap/js/bootstrap.min.js"></script>
<script src="/lib/slimScroll/jquery.slimscroll.min.js"></script>
<script src="/lib/bootbox.min.js"></script>
<script src="/lib/datatables/jquery.dataTables.min.js"></script>
<script src="/lib/datatables/dataTables.bootstrap.min.js"></script>
<script src="/lib/adminLET2/js/app.min.js"></script>
<script src="/js/common.js"></script>
</body>
</html>
