<!DOCTYPE html>
<html>
{{template "head"}}
<body class="hold-transition skin-red sidebar-mini">
<div class="wrapper">

{{template "header"}}
{{template "menu"}}

    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                用户管理
            </h1>
            <ol class="breadcrumb">
                <li class="btn btn-success c-add-btn"><a href="/admin/index/"> 主页</a></li>
                <li class="btn btn-success c-add-btn"><a href="/admin/users/">用户管理</a></li>
                <a href="/admin/users/new/" class="btn btn-success c-add-btn"> 添加用户</a>
            </ol>
        </section>
        <section class="content">
            <div class="row c-manager">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-body">
                            <table id="dataList" class="table table-striped table-bordered table-hover">
                                <thead>
                                <tr align="center">
                                    <th>ID</th>
                                    <th>UserName</th>
                                    <th>Password</th>
                                    <th colspan="2">管理</th>
                                </tr>
                                {{range .users}}
                                <tr>
                                    <td>{{.Id}}</td>
                                    <td>{{.Username}}</td>
                                    <td><a href="/admin/users/edit/{{.Id}}">edit</a></td>
                                    <td><a href="/admin/users/del/{{.Id}}">del</a></td>
                                </tr>
                                {{end}}
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<script src="/lib/jQuery/jquery-2.2.3.min.js"></script>
<script src="/lib/bootstrap/js/bootstrap.min.js"></script>
<script src="/lib/datatables/jquery.dataTables.min.js"></script>
<script src="/lib/datatables/dataTables.bootstrap.min.js"></script>
<script src="/lib/adminLET2/js/app.min.js"></script>
<script src="/js/common.js"></script>
</body>
</html>
