// basice
$font-size: 14px;
$icon-size:17px;
$active-color:#3b82f6;
$bg-main:#0f172a;
$border-color: #334155;
$white-bg:#182235;
$el-icon-small:30px;
$el-icon-mini:24px;
// aside
$width-aside:220px; 
$width-hideside-aside:54px;
$width-mobile-aside:210px;
$color-aside:rgba(255, 255, 255,.9);
$icon-arrow-size-aside:12px;
$width-submenu-aside:55px;
$bg-aside:#0b1120;
$height-aside-tilte:64px;
$height-aside-img:30px;
$width-aside-img:30px;
// header
$height-header: 60px;
// nav-scroll
$height-nav-scroll:40px;
$active-bg-tabs-item-nav-scroll:#3b82f6;
$bg-tabs-item-nav-scroll:#475569;
// table
$bg-color-table-thead:#111827;
$border-color-table:#334155;
$height-table-cell:45px;
$color-table-tbody:#cbd5e1;
$color-table-thead:#e5e7eb;
// dashboard
$height-car:68px;
// mobile
$padding-xs: 5px;
$margin-xs: 5px;
